/* Login.html */
.imgcontainer {
    text-align: center;
    margin: 30px 0 12px 0;
}

img.avatar {
    width: 25%;
    border-radius: 20%;
}

.loginform{
    border: 3px solid #f1f1f1;
}
h1, h2, h3 {
    color: #0d0d0d;
}
p {
    color: #2a2a2a;
}
button {
    background-color: #ff8e3c;
    color: #0d0d0d;
}

.loginbtn {
    background-color: #7ef29d;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;;
    cursor: pointer;
    width: 100%;
}

.loginbtn:hover {
    opacity: .5;
}

.logincontainer {
    padding: 16px;
}

span.upassword {
    float: right;
    padding-top: 16px;
}

.loginhead {
    text_align: center;
}
