table, th, td {
    width="100%";
    cellspacing="0";
    cellpadding="0";
    border="0";
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

body.dark-theme {
  color: #eee;
  background: #121212;
}

body.dark-theme a {
  color: #809fff;
}

.login_img {
    text-align: left;
    margin: 24px 0 12px 0;
}

.login_pic {
    width: 10%;
    border-radius: 30%;
}

.login_form{
    border: 3px solid #f1f1f1;
}

login_btn:hover {
    opacity: .1;

}