{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block body %}
    <h1>Membership Directory</h1>

        <input id="allSearch" type="text" placeholder="Filtered Search...">
        <table class="table thead-dark table-striped">
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>City</th>
              <th>Zip Code</th>
              <th>Phone</th>
              <th>Pref Comms</th>
              <th>Print Permissions</th>
              <th>Member Type</th>
              <th>Other Orgs</th>
              <th># of GSDs</th>
              <th># of Breedings</th>
          </tr>
            {% for u in user %}
          <tbody id="searchTable">
          <tr>
              <td>{{ u.fname }}</td>
              <td>{{ u.lname }}</th>
              <td>{{ u.email }}</td>
              <td>{{ u.address }}</td>
              <td>{{ u.city }}</td>
              <td>{{ u.zip_code }}</td>
              <td>{{ u.phone }}</td>
              <td>{{ u.pref_communication }}</td>
              <td>{{ u.print_permissions }}</td>
              <td>{{ u.member_type }}</td>
              <td>{{ u.other_orgs }}</td>
              <td>{{ u.num_of_gsd }}</td>
              <td>{{ u.num_breedings }}</td>
          </tr>
          </tbody>
            {% endfor %}
        </table>

    <!-- Filter Membership List -->
    <script>
        $(document).ready(function() {
            $("#allSearch").on("keyup", function() {
                var value = $(this).val().toLowerCase();

                $("#searchTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) >-1)
                });
            });
        });
    </script>

{% endblock %}