<!doctype html>
<html>
  <head>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/styles.css">

  </head>

  <body>

    {% block body %}{% endblock %}

      {% for msg in get_flashed_messages() %}

        <p class="flash-msg">
          {{ msg }}
        </p>

      {% endfor %}

    <button class="btn-toggle">Dark-Mode</button>

    <script src="/static/membership.js"></script>

  </body>

</html>
