<!doctype html>
<html>
  <head>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/login_styles.css">
    <link rel="stylesheet" href="/static/css/image_carousel.css">


  </head>

  <body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">GSDC of MSP</a>
      </div>
        <ul class="nav navbar-nav">
          <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          {% if not current_user.is_authenticated %}
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Become a Memeber</a></li>
          {% endif %}
          <li><a href="/login" id="logged_in"><span id="login-icon" class="glyphicon glyphicon-log-in"></span>?</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="/login_landing"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Search Options
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/user">View All Members</a></li>
              <li><a href="/search">Search Member Directory</a></li>
            </ul>
          </li>
          <!-- <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li> -->
          {% endif %}
        </ul>
      <ul class="nav navbar-nav navbar-right">

          <button class="btn-toggle navbar-btn">Dark-Mode</button>
      </ul>
    </div>
  </nav>

    {% block body %}{% endblock %}
      {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
          {{ msg }}
        </p>
      {% endfor %}


  <script src="/static/membership.js"></script>
  <script src="/static/login.js"></script>
  </body>
</html>
