{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block body %}
    <h1>German Shepherd Dog Club of Minneapolis & St. Paul</h1>
        <ul>
            <li><a href="/signup">Membership Signup Form</a></li>
            <li><a href="/user">All Members</a></li>
            <li><a href="/search">Membership Directory Search</a></li>
            <li><a href="/interest">Search Member Interests</a></li>
            <li><a href="/login">Login</a></li>
        </ul>

{% endblock %}
