{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block body %}

    <h2>Welcome {{ name }}!!</h2>

    <div id="wrapper">
        <ul>
            <h4>2019 Club Officers</h4>
            <li>President: Mario Speedwagon - Mario@gmail.com</li>
            <li>Vice-President: Sue Vaneer - Sue@gmail.com</li>
            <li>Secretary: Mylee Yu - Mylee@gmail.com</li>
            <li>Treasurer: Laura Meyer - Laura1@gmail.com </li>
            <li>Board Member: Laura Newland - Laura@gmail.com</li>
            <li>Board Member: Bob Frapples - Bob@gmail.com</li>
            <li>Board Member: Walter Melon - Walter@gmail.com</li>
        </ul>
        <ul>
            <h4>Club Docs</h4>
            <li> <a href="#">Listing of Past Board and Membership Minutes</a></li>
            <li><a href="#">Constitution & Bylaws</a></li>
            <li><a href="#">Standing Rules</a></li>
            <li><a href="#">Expense Reimbursement Form</a></li>
            <li><a href="#">Membership Application</a></li>
            <li><a href="#">Submit A Litter Announcement</a></li>
         </ul>
    <div class="calendar">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=YzZxcnNzNmI1ZTRxOGxiMTE0b3JmNjY5MG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=MTc5NHZ2MTMzMmhjMGUwNGNmMTNpM3UzZGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=Y2I5dWxtY3E1YXVzZGp0dGN0bWx1Y2VtMXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%234285F4&amp;color=%23EF6C00&amp;color=%23B39DDB&amp;color=%23E4C441" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    </div>

{% endblock %}