{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block body %}


    <h2>GSDC Login</h2>

    <form action="/login" method="POST" class="login_form">
    <div class="login_img">
        <img src="/static/images/login_img.jpg" class="login_pic">
    </div>
    <div class="login_container">
        <label><b>Username</b></label>
        <br>
        <input type="text" placeholder="Enter Email Address" name="user_email" required>
        <br>
        <br>
        <label><b>Password</b></label>
        <br>
        <input type="text" placeholder="Enter Password" name="user_pass" required>

        <button type="submit" name="login_btn">Login</button>
    </div>





    </form>

<br>
<footer><a href="/">Back to Homepage</a> </footer>
<br>

{% endblock %}