{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block body %}
    <h2>German Shepherd Dog Club of Minneapolis & St. Paul</h2>

        <form class="signup-form" action="/users" method="POST">
            <h3>Membership Application Form</h3>
            <div class="container1 custom-control-inline">
                First Name: <input class="form-control" type="text" name="fname">
                Last Name: <input class="form-control" type="text" name="lname">
                Email: <input class="form-control" type="text" name="email">
                Password <input class="form-control" type="password" name="password">
                Address: <input class="form-control" type="text" name="address">
                City: <input class="form-control" type="text" name="city">
                Zip Code: <input class="form-control" type="text" name="zip_code">
                Phone: <input class="form-control" type="text" name="phone">
            </div>
            <div class="container2 custom-control-inline">
                <p>What type of Membership are you signing up for?
                    <select name="member_type">
                        <option value="single">Single Membership</option>
                        <option value="household">Household Membership</option>
                        <option value="junior">Junior Membership</option>
                        <option value="updates">Membership Updates Only</option>
                    </select>
                </p>
                <p>What is your Preferred Communication?
                    <select name="pref_communication">
                        <option value="email">Email</option>
                        <option value="snail mail">Snail Mail</option>
                    </select>
                </p>
                <p>I give the GSDCMSP permission to print my Email, Phone, Address information at the
                    annual banquet for club purposes only
                    <select name="print_permissions">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </p>
                <p>
                    <p>Do you belong to any other Organizations? <input type="text" name="other_orgs"></p>
                    <p>How many German Shepherds do you own? <input type="text" name="num_of_gsd"></p>
                    <p>How many breedings have you done? <input type="text" name="num_breedings"></p>
                </p>
            </div>

            <h3>What Club Interests do you have?</h3>
            <div class="container3 custom-control-inline">
                <p>
                    <input type="checkbox" name="obedience" value="true"> Obedience <br>
                    <input type="checkbox" name="rally" value="true"> Rally <br>
                    <input type="checkbox" name="conformation" value="true"> Conformation <br>
                    <input type="checkbox" name="agility" value="true"> Agility <br>
                    <input type="checkbox" name="herding" value="true"> Herding <br>
                    <input type="checkbox" name="scentwork" value="true"> Scentwork <br>
                    <input type="checkbox" name="fun_match" value="true"> GSD Fun Match <br>
                    <input type="checkbox" name="shep_o_gram" value="true"> Shep O Gram <br>
                </p>
                <p>
                    <input type="checkbox" name="training" value="true"> Training <br>
                    <input type="checkbox" name="hospitality" value="true"> Hospitality <br>
                    <input type="checkbox" name="fundraising" value="true"> Fundraising <br>
                    <input type="checkbox" name="gsd_fun_day" value="true"> GSD Fun Day <br>
                    <input type="checkbox" name="demo_mn_fair" value="true"> Demo Day at the MN Fair <br>
                    <input type="checkbox" name="annual_banquet" value="true"> Annual Banquet <br>
                    <input type="checkbox" name="breeding" value="true"> Breeding <br>
                    Other <input type="text" name="other"> <br>
                </p>
            </div>
            <button class="mebbtn" type="submit">Submit</button>
        </form>

{% endblock %}
