{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block body %}


    <h1>Membership Directory Search</h1>

        <form action="/search" method="POST" autocomplete="on" >
            <p>Search <input type="text" name="memberInput">
            <button id="search-btn" type="submit">Submit</button>
          </p>
        </form>

        <form id="visibility">
            <table class="table table-striped">
              <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Zip Code</th>
                  <th>Phone</th>
                  <th>Pref Comms</th>
                  <th>Print Permissions</th>
                  <th>Member Type</th>
                  <th>Other Orgs</th>
                  <th># of GSDs</th>
                  <th># of Breedings</th>
              </tr>
                {% for user in users %}
              <tr>
                  <td>{{ user.fname }}</td>
                  <td>{{ user.lname }}</th>
                  <td>{{ user.email }}</td>
                  <td>{{ user.address }}</td>
                  <td>{{ user.city }}</td>
                  <td>{{ user.zip_code }}</td>
                  <td>{{ user.phone }}</td>
                  <td>{{ user.pref_communication }}</td>
                  <td>{{ user.print_permissions }}</td>
                  <td>{{ user.member_type }}</td>
                  <td>{{ user.other_orgs }}</td>
                  <td>{{ user.num_of_gsd }}</td>
                  <td>{{ user.num_breedings }}</td>
              </tr>
                {% endfor %}
             </table>
        </form>
<br>
<br>
<footer><a href="/login_landing">Back to Landing Page</a> </footer>

{% endblock %}